body {
    font-family: 'Raleway', sans-serif;
    background:rgba(247, 217, 241, 0.65);
    text-align: center;
    color: #2a2e0a

}

input[type=submit]{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: none;
    color: #ef3991;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

h2{
    text-align: center;
}
