<DOCTYPE html>
	<html lang='en'>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
      <body>
        <div class="container">
            <div class="content-section">
                        <legend class="border-bottom mb-4">Match Info</legend>
                        <ul>
                        {%for i in ids1%}
                        <li>
                                '{{i}}';
                         </li>
                        {% endfor %}
                        </ul>

            </div>
        </div>
    </body>
    </html>