<DOCTYPE html>
	<html lang='en'>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
      <body>
        <div class="container">
            <div class="content-section">
                <div id = "myDynamicTable">
                        <legend class="border-bottom mb-4">Match Info</legend>
                         </div>
                   
                            <script>
                                function addTable(ids) {
                                var myTableDiv = document.getElementById("myDynamicTable");

                                    var table = document.createElement('TABLE');
                                    table.border = '1';

                                    var tableBody = document.createElement('TBODY');
                                    table.appendChild(tableBody);

                                    for (var i in ids) {
                                        for (var key in ids[i]){
                                            var tr = document.createElement('TR');
                                             tableBody.appendChild(tr);
                                             var td = document.createElement('TD');
                                             td.width = '75';
                                             td.appendChild(document.createTextNode(key));
                                             tr.appendChild(td);
                                            
                                            var td = document.createElement('TD');
                                            td.width = '75';
                                            for (var j in ids[i][key]) {
                                                var tr1 = document.createElement('TR');
                                                for (var k in ids[i][key][j]){
                                                    var td2 = document.createElement('TD');
                                                    td2.width = 75;
                                                    td2.appendChild(document.createTextNode(k + ":" + ids[i][key][j][k]));
                                                    tr1.appendChild(td2);
                                                }
                                                td.appendChild(tr1);
                                                
                                        }
                                        tr.appendChild(td);

                                        }
                                        
                                    }
                                    myTableDiv.appendChild(table);
                                    }
                                    addTable(JSON.parse('{{ids1 | tojson}}'));

                                    
                                 </script>
                                
                 
            </div>
        </div>
    </body>
    </html>