<DOCTYPE html>
	<html lang='en'>
	<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <script type='text/javascript'>
            function submit() {
                var date = $('#input_ID').val()
                console.log(date);
                console.log("Pressed Submit")

            }</script>
        <script type="text/javascript">// <![CDATA[
            function preloader(){
                document.getElementById("loading").style.display = "none";
                document.getElementById("content").style.display = "block";
            }//preloader
            window.onload = preloader;
            // ]]>
            </script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>

<div class = "content">
<h2>Date Field</h2>
<p>Input the starting date for which you'd like to see requester information.</p>
<div class = "form">
<form method = "POST">
    <label for="input_ID">Date:</label>
    <input id="input_ID" name="date" type="date" />
    <input type = "submit"/>
</form>
</div>
</div>
</body>
</html>