<DOCTYPE html>
	<html lang='en'>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
	//paste this code under the head tag or in a separate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	  <script type='text/javascript'>
         function loginUser() {
				var usr=$('#username').val()
				var psw=$('#password').val()
				var url = "/authenticateUser/" +usr + "   " +psw

				$.getJSON(url, function(server_response) {
					console.log("IN JAVA SCRIPT AUTHENTICATED IS " +server_response['authenticated'])
					console.log("Getting response from " +url)

                    if(server_response["authenticated"] == "true"){
									//var url = "http://localhost:5000/"
			                    	var url = "https://oaklandatrisk-pro.herokuapp.com/";
									$(location).attr('href',url);
                    }else{
                        window.alert("CANNOT AUTHENTICATE USER");
                    }


                }).fail(function(jqXHR, textStatus, errorThrown)  { 
                	console.log("Couldn't get response from server, " +textStatus); })
                .done(function() { })
                .always(function() { });
			}
		</script>
		
		<meta charset="utf-8" />
		<title>OaklandAtRisk Database Tool</title>
		
	</head>
<body>
	<form>
			<p><input type=text name=username id="username" placeholder="Username">
            <p><input type=password name=password id="password" placeholder="Password">
	</form>
  <button onclick="loginUser()">Login</button>  


</body>
<div class="se-pre-con"></div>
  </html>
