<DOCTYPE html>
	<html lang='en'>
	<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
	  <script type='text/javascript'>
         function loginUser() {
				var usr=$('#username').val()
				var psw=$('#password').val()
				var url = "/authenticateUser/" +usr + "   " +psw

				$.getJSON(url, function(server_response) {
					console.log("IN JAVA SCRIPT AUTHENTICATED IS " +server_response['authenticated'])
					console.log("Getting response from " +url)

                    if(server_response["authenticated"] == "true"){
			                    	var url = "https://oaklandatrisk-stage.herokuapp.com/";
									$(location).attr('href',url);
                    }else{
                        window.alert("CANNOT AUTHENTICATE USER");
                    }


                }).fail(function(jqXHR, textStatus, errorThrown)  { 
                	console.log("Couldn't get response from server, " +textStatus); })
                .done(function() { })
                .always(function() { });
			}
		</script>
		
		<meta charset="utf-8" />
		<title>OaklandAtRisk Database Tool</title>
		
	</head>
<body>
	<form>
			<p><input type=text name=username id="username">
            <p><input type=password name=password id="password">
	</form>
  <button onclick="loginUser()">Login</button>  


</body>

  </html>
