<DOCTYPE html>
	<html lang='en'>
        <head>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        </head>
        <body>
<div class="full">
    <div class="content-section">
        <form method="GET" action="http://localhost:5000/1">
                <h2>IDs to select</h2>
                <div class = "list">
                    {%for i in ids%}
                <li>
                        <input type = "checkbox" id = "id_{{i}}" name = "ids" value = {{i}}>
                        <label for="id1">{{i}}</label>
                 </li>
                {% endfor %}
                </div>
                
                <br>
            <input type = "submit"/>
        </form>
    </div>
</div>
</body>
    </html>