<DOCTYPE html>
	<html lang='en'>
<div class="container">
    <div class="content-section">
        <form method="GET" action="https://oaklandatrisk-stage.herokuapp.com/1">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">IDs to select</legend>
                {%for i in ids%}
                <li>
                        <input type = "checkbox" id = "id_{{i}}" name = "ids" value = i>
                        <label for="id1">{{i}}</label>
                 </li>
                {% endfor %}

            </fieldset>
            <input type = "submit"/>
        </form>
    </div>
</div>
    </html>